@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* {
    margin: 0px; box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}

.wrap {
    font-family: 'Noto Sans KR', sans-serif;
    align-items: center;
    text-align: center;
    background-image: url("../img/Mystic.jpg");
    background-size: cover;
    width: auto;
    height: auto;
}

.body{
    background-color: rgba(255, 255, 255, 0.514);
    position: relative;
    top : -60px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.main_text1{
    height: auto;
    padding-bottom: 30px;
}

.main_about {
    margin-top: 50px;
}

.main_about_h{
    margin-bottom: 7px;
    font-size: 48px;
}

.main_about_p{
    font-size: 20px;
    margin-bottom: 30px;
}

.header{
    width: auto;
    margin: auto;
    height: 86px;
    background-color: rgba(255, 255, 255, 0.171);
}

.nav{
    display: flex;
    margin: auto;
    width: 900px;
    height: 86px;
    line-height: 86px;
    justify-content: center;
    color: rgba(0, 0, 0, 0.842);
}

.nav > li {
    flex: 1;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
}

.nav > li:not(:last-child) {
    border-right: 1px solid #d4d4d477;
}

.amount {
    position: relative;
    display: flex;
    width: 980px;
    background: #fff;
    margin: auto;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.amount > li {
    height: 132px;
    flex: 1;
}

.amount > li > div {
    text-align: center;
    height: 57px;
    margin-top: 37px;
}

.amount > li:not(:last-child) > div {
    border-right: 1px solid #d4d4d4;
}

.contents1 {
    font-size: 20px;
    font-weight: lighter;
}

.contents1_bold{
    margin-top: 5px;
    font-size: 24px;
    font-weight: bold;
}

.result {
    font-size: 24px;
}

.icons{
    display: flex;
    width: 980px;
    height: 280px;
    margin: auto;
} 

.icons > li {
    flex: 1;
    height: 280px;
    background: #fff;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.1)
}

.icons > li > .iconImg {
    margin-top: 30px;
}

.icons > li:not(:last-child) {
    margin-right: 20px;
    
}

.more {
    width: 100px;
    height: 30px;
    background: #2f7af4;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    margin: 20px auto;
}